body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee;
}
.target{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bring{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: black;

}
.blring{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: blue;

}
.rring{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: red;

}
.yring{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: yellow;
    position: relative;

}
.dot{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: black;
    
}

hov